<style>
     .alert {
            padding: 15px;
            margin: 20px auto;
            border: 1px solid transparent;
            border-radius: 4px;
            width: 300px;
        }
        
        .alert-info {
            color: #3a87ad;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }
  
    </style>
    
   {% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
       <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}     
        </div>
    </body>
</html>